<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suda.fleamarket.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.suda.fleamarket.entity.Goods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="releaseTime" column="release_time" jdbcType="TIMESTAMP"/>
            <result property="remainingQuantity" column="remaining_quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isApproved" column="is_approved" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name,
        release_time,remaining_quantity,price,
        picture,`description`,is_approved,
        is_deleted,version
    </sql>
</mapper>
